@model Cliente

<div class="container">

    <div class="row">
        <h2><strong>Mis Biblioteca</strong></h2>
    </div>

    <hr>

    <div class="row">
        <p>estoy mostrando mis listas</p>
    </div>

</div>