
@model List<Libro>

    <div class="container">
    @if (Model.Count != 0)
    {
        <div class="row">
            @foreach (Libro item in Model)
            {
                <div class="col-4">
                    <partial name="_VistaMiniLibro" model="item">
                </div>
            }
        </div>
    } 
    else
    {
        <div class="row">
            <div class="col">
                <p>No se han encontrado LIBROS de esa categoria... Intentalo de nuevo</p>
            </div>
        </div>
    }
</div>

